@use 'variables';
@use 'mixins';

#wrapper {
    width: 1200px;
    border: variables.$border-main;
    margin: 0 auto;

    .box {
        @include mixins.box;
        @include mixins.rotate(45deg);

        .content {
            padding: 10px;
        }
    }

    .box-large {
        @include mixins.box(500px);

        .content {
            padding: 10px;
        }

        @include mixins.tablets-only {
            background-color: red;
        }

        @include mixins.desktops-only {
            background-color: green;
        }
    }

    .info {
        @extend %message-shared;
    }

    .success {
        @extend %message-shared;
        background-color: lightgreen;
    }

    .error {
        @extend %message-shared;
        background-color: red;
    }

    .heart-container {
        padding: 100px;
        display: flex;
        justify-content: center;

        @keyframes rotate {
            from {
                transform: rotate(45deg);
            }

            to {
                transform: rotate(-315deg);
            }
        }

        @keyframes beat {
            0% {
                transform: rotate(45deg) scale(0.8);
            }

            5% {
                transform: rotate(45deg) scale(0.9);
            }

            10% {
                transform: rotate(45deg) scale(0.8);
            }

            15% {
                transform: rotate(45deg) scale(1);
            }

            50% {
                transform: rotate(45deg) scale(0.8);
            }

            100% {
                transform: rotate(45deg) scale(0.8);
            }
        }

        .heart {
            width: 100px;
            height: 100px;
            background-color: red;
            position: relative;
            transform: rotate(45deg);

            animation: beat 2s linear infinite;

            &:before,
            &:after {
                content: "";
                width: 100px;
                height: 100px;
                background-color: red;
                position: absolute;
                border-radius: 50%;
            }

            &:after {
                transform: translateY(-50px);
            }

            &:before {
                transform: translateX(-50px);
            }
        }
    }
}